<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <form action="/iot/all-sensors" method="POST">
                       <!-- <div class="form-group">
                            <input type="text" name="server" class="form-control" placeholder="Server">
                        </div>-->
                         <div class="form-group">
                        <!--<input type="text" name="topic" class="form-control" placeholder="Topic">-->
                            <select class="browser-default custom-select form-control " name="topic">
                                <option selected="" disabled>Topic</option>
                                {{#each topicos}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                    
                            </select>
                    </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Buscar
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row my-4 mx-auto" id="graf" style="display: none;">
        <div class="col-md-12 mx-auto" id="columna">
            <div class="card">
                <div class="card-body w-100 mx-auto">
                    <canvas id="chLine" height="100" ></canvas>
                </div>
            </div>
        </div>
        
    </div>
   
<div class="row mt-4">        
    <div class="col md-4 mx-auto">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="btn-refresh" unchecked />
                <label class="form-check-label" for="flexSwitchCheckChecked">Refrescar automáticamente</label>
                </div>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr align="center"><th scope="col">ID</th><th scope="col">Status</th><th scope="col">value</th><th scope="col">Topic</th><th scope="col">Fecha</th></tr>
                    </thead>
                    <tbody id="tbody">
                        {{#each sensors as |sensor|}}
                            <tr id="fila" align="center">        
                                <th>{{sensor._id}}</th><td>{{sensor.status}}</td><td>{{sensor.value}}</td><td>{{sensor.topic}}</td><td scope="row">{{sensor.date}}</td>
                            
                            </tr>                
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>